<!DOCTYPE html>
<html>
    <head>
        <title>Practica3</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Estados</h1>
            <table border="1">
                <thead>
                <th>nombreEstado</th>
                <th>nombreCapital</th>
                <th>costas</th>
                <th>poblacion</th>
                </thead>
                <tbody>
                    <tr th:each="Estado : ${Estados}">
                        <td th:text="${Estados.nombre_estado}"></td>
                        <td th:text="${Estados.nombre_capital}"></td>
                        <td th:text="${Estados.costas}"></td>
                        <td th:text="${Estados.poblacion}"></td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>
