<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Practica</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Estados</h1>
        <table border="1">
            <thead>
                <th>Nombre Estado</th>
                <th>Nombre Capital</th>
                <th>Costas</th>
                <th>Poblacion</th>
            </thead>
            <tbody>
                <tr th:each="estado : ${estados}">
                    <td th:text="${estado.nombreEstado}"></td>
                    <td th:text="${estado.nombreCapital}"></td>
                    <td th:text="${estado.costas}"></td>
                    <td th:text="${estado.poblacion}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>